<div class="flex items-center justify-center py-12">
  <%= render Base::TooltipComponent.new(text: "This is a helpful tooltip") do %>
    <button class="rounded-lg bg-blue-600 px-4 py-2 text-white hover:bg-blue-700">
      Hover me
    </button>
  <% end %>
</div>
